.favorites {
  padding: 40px;
}

.favorites-title {
  font-size: 28px;
  margin-bottom: 25px;
  color: var(--main-color);
}

.favorites-grid {
    width: 90%;
    margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
}

/* Card */
.favorite-card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.favorite-card:hover {
  transform: translateY(-5px);
}

.favorite-img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.favorite-info {
  margin-top: 10px;
}

.favorite-info h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.price {
  color: var(--main-color);
  font-weight: bold;
}

.remove-btn {
  margin-top: 10px;
  background: #ff4d4f;
  border: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.remove-btn:hover {
  opacity: 0.9;
}

/* Empty State */
.favorites-empty {
  text-align: center;
  padding: 80px 20px;
    color: #888;
}
.favorites-empty h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: rgb(32, 32, 32)  ;
}
.favorites-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.reset-btn {
  background: transparent;
  border: 1px solid #ff4d4f;
  color: #ff4d4f;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.reset-btn:hover {
  background: #ff4d4f;
  color: #fff;
}
.resetItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

